*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.main{

width: 350px;
background-color: white;
border: 2px solid black;
border-radius: 20px;
overflow: hidden;
display: inline-block;
margin-right: 100px;

}

.ins{

width: 350px;
border: 2px solid black;
border-radius: 20px;
display: inline-block;
margin-right: 100px;
background-color:rgba(238, 9, 131, 0.574);


}







.card img{

width: 100%;
height: 220px ;

}

.card-content{

padding: 20px;

}

.card-content h2{

font-size: 40px;
text-align: center;
margin-top: -15px;
margin-bottom: 10px;

}

.card-content p{

font-size: 20px;
margin-right: 10px;
text-align: center;
margin-bottom: 19px;
}


.card-content button{

background-color: black;
color: white;
border: none;
border-radius: 15px;
padding: 10px 15px;
font-size: 15px;
margin-right: 10px;
margin-left: 90px;
}

















































































