*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{

height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient( 120deg, #111, #333);

}
 

.login-box{

width: 350px;
padding: 30px;
border-radius: 18px;
background: 

linear-gradient( #000, #000) padding-box,
linear-gradient( 225deg, #ff2f92, #2fffdc) border-box;

border: 2px solid transparent;
box-shadow: 0 0 20px rgba(47, 255, 220, 0.4);

}


h2{

color: #2fffdc;
margin-bottom: 20px;
}

label{

color: #ccc;
font-size: 14px;

}

input{

width: 100%;
padding: 12px;
margin: 8px 0 15px;
border: none;
border-radius: 10px;
background-color: #444;
color: white;
outline: none;


}

button{

width: 100%;
padding: 12px;
border: none;
border-radius: 25px;
background-color: #2fffdc;
font-size: 16px;
cursor: pointer;
box-shadow: 0 0 20px #2fffdc ;
transition: 0.3s ;
}

button:hover{

box-shadow: 0 0 35px #2fffdc;

}

.links{

margin-top: 15px;
color: #ccc;
font-size: 13px;

}


.links a{

    color: #ff2f92;
text-decoration: none;

}



























































































